# Android CLI skills

adaptive
agp-9-upgrade
android-cli
android-intent-security
appfunctions
camerax
display-glasses-with-jetpack-compose-glimmer
edge-to-edge
engage-sdk-integration
migrate-xml-views-to-jetpack-compose
navigation-3
perfetto-sql
perfetto-trace-analysis
play-billing-library-version-upgrade
r8-analyzer
styles
testing-setup
verified-email
wear-compose-m3
