name: Setup keystore and create initial aab
on: 
  workflow_dispatch:
  push:
    branches:
      - build/create-initial-aab

jobs:
  bump_and_publish:
    permissions:
      id-token: write
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0

      - name: Setup GitHub Runner workflow
        uses: ./mobile-android-pipelines/actions/setup-runner
        with:
          gradle-cache-disabled: "false"
          jdk-version: "21"

      - name: Install homebrew packages
        run: |
          brew bundle

      - name: Retrieve Secrets
        id: secrets
        uses: ./mobile-android-pipelines/actions/retrieve-secrets
        with:
          keystore-base64: ${{ secrets.KEYSTORE_BASE64 }}
          google-service-account-json-base64: ${{ secrets.SERVICE_ACCOUNT_JSON_BASE64 }}

      - name: Bundle Demo Release
        id: bundle
        uses: ./mobile-android-pipelines/actions/bundle-release-app
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          keystore-file-path: ${{ steps.secrets.outputs.keystore-file-path }}
          keystore-password: ${{ secrets.KEYSTORE_PASSWORD }}
          keystore-key-alias: ${{ secrets.KEYSTORE_KEY_ALIAS }}
          keystore-key-password: ${{ secrets.KEYSTORE_KEY_PASSWORD }}
          version-code: "1.0.0"

      - name: Upload App Bundle as an artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release-bundle
          path: app/build/outputs/bundle/release/app-release.aab

      - name: Clean workspace
        uses: ./mobile-android-pipelines/actions/clean-workspace