name: Release mobile-credential-sharing-android

on:
  push:
    branches: [ "main" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  bump_and_publish:
    env:
      GITHUB_ACTOR: ${{ github.actor }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      id-token: write
      contents: write
      packages: write
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0

      - name: Clean workspace
        uses: ./mobile-android-pipelines/actions/clean-workspace

      - name: Configure git User
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Install homebrew
        run: |
          /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

      - name: Setup GitHub Runner workflow
        uses: ./mobile-android-pipelines/actions/setup-runner
        with:
          gradle-cache-disabled: "false"
          jdk-version: "21"

      - name: Install homebrew packages
        run: |
          brew bundle

      - name: Grant execute permissions for script files
        run: find ./scripts/ -type f | xargs chmod +x

      - name: Verify Conventional commit standards against latest git tag
        run: cog check -l
        shell: bash

      - name: Run linting suites
        run: |
          ./scripts/lint/all

      - name: Run testing suites
        run: |
          ./scripts/test/all

      - name: Sonar scan
        uses: ./mobile-android-pipelines/actions/sonar-scan
        with:
          sonar-token: ${{ secrets.SONAR_TOKEN }}

      - name: Increment the release version using Conventional Commits
        id: versioning
        if: ${{ github.event_name != 'pull_request' }}
        uses: ./mobile-android-pipelines/actions/increment-version

      - name: Publish release tags
        if: ${{ github.event_name != 'pull_request'
          && steps.versioning.outputs.current_version != steps.versioning.outputs.new_version }}
        uses: ./mobile-android-pipelines/actions/publish-release-tag

      - name: Publish package
        if: ${{ github.event_name != 'pull_request'
          && steps.versioning.outputs.current_version != steps.versioning.outputs.new_version }}
        uses: ./mobile-android-pipelines/actions/maven-publish
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_ACTOR: ${{ github.actor }}

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: Generate Changelog
        uses: ./mobile-android-pipelines/actions/generate-and-upload-changelog
        with:
          current-version: ${{ steps.versioning.outputs.current_version }}
          new-version: ${{ steps.versioning.outputs.new_version }}
          version-prefix: "v"

      - name: Clean workspace
        uses: ./mobile-android-pipelines/actions/clean-workspace
