name: Android PR checks

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit_tests_job:
    env:
      GITHUB_ACTOR: ${{ github.actor }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    runs-on: ubuntu-latest
    permissions:
      packages: read
    steps:
      - name: Free disk space
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
        with:
          android: false
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          lfs: 'true'
          submodules: 'true'
          fetch-depth: 0

      - name: Clean workspace
        uses: ./mobile-android-pipelines/actions/clean-workspace

      - name: Configure git User
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Install homebrew
        run: |
          /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

      - name: Install linux packages
        run: |
          ./scripts/installLinuxPackages

      - name: Setup GitHub Runner workflow
        uses: ./mobile-android-pipelines/actions/setup-runner
        with:
          gradle-cache-disabled: "false"
          jdk-version: "21"

      - name: Install homebrew packages
        run: |
          brew bundle

      - name: Verify Conventional commit standards against latest git tag
        run: cog check -l
        shell: bash

      - name: Run vale prose linting
        uses: errata-ai/vale-action@d89dee975228ae261d22c15adcd03578634d429c # v2.1.1
        with:
          fail_on_error: true
          reporter: github-pr-check
          version: latest

      - name: Run linting associated with Gradle
        run: |
          ./scripts/lint/gradle

      - name: Run unit tests
        run: |
          ./scripts/test/unit

      - name: Run instrumentation tests
        run: |
          ./scripts/test/instrumentation --no-configuration-cache

      - name: Sonar scan
        uses: ./mobile-android-pipelines/actions/sonar-scan
        with:
          sonar-token: ${{ secrets.SONAR_TOKEN }}

      - name: Clean workspace
        uses: ./mobile-android-pipelines/actions/clean-workspace
